form{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.class-container{
    border: 1px solid red;
}
.subcontainer{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

div > h3{
    text-align: center;
}
div a{
    text-decoration: none;
    color:  #2e323f;;
}
.login-container input{
    min-width: 400px;
    padding: .2rem 1rem;

}