body{
    margin-top: 7rem;
}

.page-desc-container{
padding: 1rem 3rem;
margin-left: 2rem;
min-width: 400px;
max-width: 800px;
}


.row {
    display: flex;
  }
  .column {
    flex-direction: column;
  }

.product-container{
flex-wrap: wrap;
justify-content: center;
padding: 0 1rem;
margin-top: 1rem;
margin-bottom: 5rem;
}

.product-card{
    width: 40%;
    margin-left: 1rem;
    margin-top: 3.5rem;
}

.product-img{
    min-width: 100%;
}
.product-content{
    margin-top: 2rem;
}
.product-card a{
    text-decoration: none;
    color: #2e323f;
}

/* Responsive */
@media (min-width: 900px) {
    
    .shop-fix{
        flex-direction: row;
    }
    .page-desc-container{
        margin-left: 2.8rem;
    }
    .product-container{
        padding: 0 1rem;
        
    }
    .product-card{
        width: 20%;
        margin-left: 0rem;
        margin-top: 0;
        margin-bottom: 2.5rem;
    }

    .product-card + .product-card{
        margin: 0rem .5rem;
    }
}
@media (min-width: 1200px) {
    
    .page-desc-container{
        margin-left: 3.8rem;
    }

}